<div class="invalid-activity-background">
    <div class="invalid-activity-content">

        <div class="error-panel">
            <pl-icon [svg]="'unicorn-404'" [width]="150" [height]="150"></pl-icon>

            <!-- titles -->
            <h2 class="header">Oops!</h2>
            <h2 class="sub-header">This page does not exist!</h2>

            <!-- Divider -->
            <div class="divider-container">
                <div class="divider"></div>
            </div>

            <!-- logo -->
            <figure class="logo">
                <pl-icon [svg]="'logo-color-no-tm'" [width]="72" [height]="48"></pl-icon>
            </figure>

        </div>
    </div>
</div>
