<div class="audio-player" ng-class="{ collapsed: collapsed, hasScroller: hasScroller }">

    <div class="audio-controls-container" ng-if="showAudioControls">
        <div class="audio-header" >
            <button class="collapse-toggle" ng-class="{ 'collapse-toggle': true, collapsed: collapsed }"
                    ng-click="collapseToggle(!collapsed);">
                <svg class="close-btn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="New-Icons---Gold-Release" transform="translate(-940.000000, -171.000000)">
                            <g id="double-arrow-right" transform="translate(936.000000, 168.000000)">
                                <g id="Group">
                                    <g id="Frame_-_24px">
                                        <rect id="Rectangle-path" x="0" y="0" ></rect>
                                    </g>
                                    <g id="Filled_Icons" transform="translate(4.000000, 3.000000)" fill="#d1d2d4">
                                        <g id="Group">
                                            <path d="M2,17.415 L0.586,16 L7.586,9 L0.586,2.001 L2,0.586 L10.414,9 L2,17.415 Z" id="Shape"></path>
                                            <path d="M7,17.415 L5.586,16 L12.586,9 L5.586,2.001 L7,0.586 L15.414,9 L7,17.415 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg class="open-btn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="New-Icons---Gold-Release" transform="translate(-892.000000, -170.000000)">
                            <g id="double-arrow-left" transform="translate(888.000000, 167.000000)">
                                <g id="Group">
                                    <g id="Frame_-_24px">
                                        <rect id="Rectangle-path" x="0" y="0" ></rect>
                                    </g>
                                    <g id="Filled_Icons" transform="translate(4.000000, 3.000000)" fill="#d1d2d4">
                                        <g id="Group">
                                            <path d="M14,17.415 L5.586,9 L14,0.586 L15.414,2.001 L8.414,9 L15.414,16 L14,17.415 Z" id="Shape"></path>
                                            <path d="M9,17.415 L0.586,9 L9,0.586 L10.414,2.001 L3.414,9 L10.414,16 L9,17.415 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
            <p ng-class="{ 'audio-title': true, collapsed: collapsed }">Audio Player</p>
        </div>
        <div class="audio-controls" ng-class="{ collapsed: collapsed, hasScroller: hasScroller }">
            <div ng-repeat="audiotrack in audio track by $index" >
                <audioplayer audiotrack="{{audiotrack}}"></audioplayer>
            </div>
        </div>
    </div>

    <div class="student-audio" ng-if="!showAudioControls">
        <div  ng-repeat="audiotrack in audio track by $index" >
            <audio class="audio-{{audiotrack.id}}" title="{{audiotrack.name}}"
                   ng-src="{{getTrustedUrl(audiotrack.protected_url)}}" preload="auto"></audio>
        </div>
    </div>

</div>


