<div id="skin-tone-menu" class="toolbar-btn" pl-dropdown
    pl-dropdown-content="#menu-content-skin-tone">
    <div class="skintone-menubutton">
        <div class="skintone-oval" ng-style="{'background-color': $ctrl.stampModel.getSkinTone()}"></div>
    </div>
    <label class="font-h6">Skin tone</label>
</div>

<div id="menu-content-skin-tone" class="pl-dropdown-content skin-tone-menu">
    <skin-tone-check-button skin-tone-id="1f3fb"></skin-tone-check-button>
    <skin-tone-check-button skin-tone-id="1f3fc"></skin-tone-check-button>
    <skin-tone-check-button skin-tone-id="1f3fd"></skin-tone-check-button>
    <skin-tone-check-button skin-tone-id="1f3fe"></skin-tone-check-button>
    <skin-tone-check-button skin-tone-id="1f3ff"></skin-tone-check-button>
    <skin-tone-check-button skin-tone-id="default"></skin-tone-check-button>
</div>